.book .book-summary ul.summary li[data-level="2"] ul,
.book .book-summary ul.summary li[data-level="3"] ul,
.book .book-summary ul.summary li[data-level="4.3"] ul,
.book .book-summary ul.summary li[data-level="4.4"] ul,
.book .book-summary ul.summary li[data-level="4.5"] ul{
    display: none;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    padding-top: 10px;
    padding-bottom: 10px;
}